services:
  postgres:
    image: postgres:16
    container_name: f1-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "54326:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
